extends ../layout

block content

  if overseers.length
    div(class="container-fluid")
      table.table.table-hover
        thead.thead-light
          tr.d-flex
            th(class="col-2") Name
            th(class="col-8") Sub-tags
            th(class="col-2") Max Vote Weight
        tbody
          each overseer in overseers
            tr.d-flex
              td(class="col-2")
                a(href='overseers/edit/' + overseer.name)= overseer.name
              td(class="col-8")
                each tag in overseer.tags
                  span.badge.badge-primary.subtag= tag
              td(class="col-2")= overseer.maxweight
  else
    p No overseers yet :(